<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Login Authentication System in Flask.</h1>
    <a href="{{ url_for('login') }}">Login Page</a><br>
    <a href="{{ url_for('register') }}">Register Page</a><br>

</body>

</html>




<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Login Authentication System in Flask.</h1>
    <a href="{{url_for('login')}}">Login Page</a><br>
    <a href="{{url_for('register')}}">Register Page</a><br>
</body>
</html> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <h1>  </h1>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>

<link rel="stylesheet" href="{{ url_for ('static', filename='CSS/MAIN.css') }}" >
<img class="bouquet_element4" src = "{{url_for('static', filename='IMG/BOUQUET/layer-4.png')}}">
<script src="{{url_for('static', filename='JS/BOUQUETemail.js')}}"></script> -->
