*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* <!-- Cart Items --> */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;

}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #ffff;
    background: #98aeff;
    font-weight: normal;
}
