{% extends "layout.html" %}


{% block content %}

<!-- <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('admin')}}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('admin')}}">product <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('brands')}}">brand</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('categories')}}">catgory</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('addproduct')}}">Add product</a>
                <a class="dropdown-item" href="{{url_for('addbrand')}}">add brand</a>
                <a class="dropdown-item" href="{{url_for('addcat')}}">add category</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
</div> -->

<!--==========END NAVBAR ==============-->

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          {% if brands %}
          <h1 class="text-center mt-5">Add a brand</h1>
          <form action="" mrthod="POST">
            <input type="text" name="brand" class="from-control">
            <input type="submit" value="Add brand" class="btn btn-info mt-2">
          </form>
          {% else %}
          <h1 class="text-center mt-5">Add a category</h1>
          <form action="" mrthod="POST">
            <input type="text" name="category" class="from-control">
            <input type="submit" value="Add category" class="btn btn-info mt-2">
          </form>
          {% endif %}
        </div>
        <div class="col-md-3"></div>
      </div>

{% endblock content %}
